/* general */

@import url('https://fonts.googleapis.com/css?family=Oswald');
@import url('https://fonts.googleapis.com/css?family=Raleway');

html {
    font-family: 'Raleway', sans-serif;
    background: #85c23a;
}

h1, h2 {
    font-family: 'Oswald', sans-serif;
    color: #53a627;
}

div#main {
    max-width: 900px;
    margin: auto;
    background: white;
    padding: 20px;
}

div#main p {
    line-height: 1.4;
    text-align: justify;
    padding: 3px 20px;
}

a {
    color: #85c23a;
    text-decoration: none;
}

a:hover {
    color: #000;
}

@media print {
    footer, .no-print {
        display: none;
    }

    html, body, #main {
        padding: 0;
        margin: 0;
    }
}

footer {
    text-align: right;
    padding: 5px 10px;
    max-width: 1100px;
    margin: auto;
}
/* cards */

table {
    border-collapse: collapse;
    border-top: 1px solid #53a627;
    margin: auto;
}

td, tr {
    border-bottom: 1px solid #53a627;
    vertical-align: middle;
    padding: 2px 0 2px 10px;
}

td.name {
    font-family: 'Oswald', sans-serif;
}

.number img {
    height: 40px;
    vertical-align: middle;
}

.avatar {
    text-align: center;
}
.avatar img {
    height: 45px;
    vertical-align: bottom;
}

.name {
    text-align: center;
    font-weight: bold;
    max-width: 100px;
    font-size: .9em;
}